Source: avra
Section: electronics
Priority: extra
Maintainer: Milan Kupcevic <milan@debian.org>
Build-Depends: debhelper (>= 9.0.0), autoconf, automake
Standards-Version: 3.9.8
Homepage: http://avra.sourceforge.net

Package: avra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: avrdude, avrprog, avrp
Description: assembler for Atmel AVR microcontrollers
 Avra is an assembler for the Atmel's family of AVR 8-bit RISC
 microcontrollers.  It is mostly compatible with Atmel's own assembler,
 but adds new features such as better macro support and additional
 preprocessor directives.
